[submodule "hostapd-mana"]
	path = hostapd-mana
	url = https://github.com/sensepost/hostapd-mana
[submodule "sslstrip-hsts/sslstrip2"]
	path = sslstrip-hsts/sslstrip2
	url = https://github.com/singe/sslstrip2
[submodule "net-creds"]
	path = net-creds
	url = https://github.com/DanMcInerney/net-creds
[submodule "sslstrip-hsts/dns2proxy"]
	path = sslstrip-hsts/dns2proxy
	url = https://github.com/singe/dns2proxy
